body {
  font: 1em/1.5 sans-serif;
  padding-bottom: 10em;
}

label,
.label {
  display: block;
  margin-top: 1em;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

[aria-selected="true"] {
  font-weight: bold;
}
