extends ../../layout.pug

block variables
  - const title = 'Select with a disabled option'
  - const example = 'select/disabled_option'

block main
  markdown
    include README.md

  div(data-react-example=example)

  pre
    code.language-js
      include:escape index.jsx
