@import "./variables.scss";

.select {
  display: inline-block;
  position: relative;

  > select {
    appearance: none;
    padding-right: 2em;
    border-radius: 2px;
    background: $color-button-background;
  }

  &::after {
    border: 0 solid $color-button-border;
    border-left-width: .5em;
    border-right-width: .5em;
    border-top-width: .5em;
    border-top-style: solid;
    border-top-color: $color-button-border;
    content: '';
    height: 0;
    position: absolute;
    pointer-events: none;
    right: .5em;
    transform: translateY(-50%);
    top: 50%;
    width: 0;
  }
}
