extends layout.pug
block variables
  - const title = 'Examples'

block main
  ul
    li
      | Select
      ul
        li
          a(href='select/string_options/index.pug') String options
        li
          a(href='select/object_options/index.pug') Object options
        li
          a(href='select/blank_option/index.pug') Blank option
        li
          a(href='select/disabled_option/index.pug') Disabled option
        li
          a(href='select/grouped_options/index.pug') Grouped options
        li
          a(href='select/mapped_options/index.pug') Mapped options
        li
          a(href='select/html_options/index.pug') HTML options
    li
      | Drop down
      ul
        li
          a(href='drop_down/string_options/index.pug') String options
        li
          a Object options
        li
          a Blank option
        li
          a Disabled option
        li
          a(href='drop_down/grouped_options/index.pug') Grouped options
        li
          a Custom html
        li
          Without managed focus
    li
      | Combo box
      ul
        li
          a String options
        li
          a Object options
        li
          a Blank option
        li
          a Disabled option
        li
          a Grouped options
        li
          a Custom html
