block variables
html(lang='en-GB')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet' href='../styles.scss')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/themes/prism.min.css')
    script(src='https://polyfill.io/v3/polyfill.min.js?flags=gated&features=default%2Ces2015%2Ces2016%2Ces2017' crossorigin='anonymous')
  body
    main
      block main

    script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-core.min.js' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js' crossorigin='anonymous')
    script(src='../render.jsx')
