@use './colours.scss' as *;

.react-combo-boxes-listbox {
  list-style: none;
  min-width: 100%;
  width: max-content;
  background-color: white;
  border: 2px solid $colour-focus;
  box-shadow: 0 5px 10px #eee;
  max-height: 30rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  position: absolute;
  z-index: 1;
  margin: 0 1em 1em 0;
  min-height: 1em;
  box-sizing: border-box;
  box-shadow: 0 2px 5px #aaa;

  mark {
   font-weight: bold;
   background-color: transparent;
  }

  [aria-selected="true"] mark {
    color: white;
  }
}

.react-combo-boxes-listbox__option,
.react-combo-boxes-listbox__group-label {
  padding: .1em .5em;

  &:first-child {
    padding-top: .2em;
  }

  &:last-child {
    padding-bottom: .2em;
  }
}

.react-combo-boxes-listbox__option {
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $colour-active;
  }

  &[aria-selected="true"] {
    color: white;
    background-color: $colour-selected;
  }

  &:focus {
    outline: none;
  }

  &[aria-disabled="true"] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.react-combo-boxes-listbox__group-label {
  font-weight: bold;
}

.react-combo-boxes-listbox__group-label ~ .react-combo-boxes-listbox__option {
  padding-left: 1.5em;
}

.react-combo-boxes-listbox__group {
  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > .react-combo-boxes-listbox__option {
      padding-left: 1.5em;
    }
  }
}
