@use './colours.scss' as *;

@mixin listbox {
  [role="listbox"] {
    list-style: none;
    min-width: 100%;
    width: max-content;
    background-color: white;
    border: 2px solid $colour-focus;
    box-shadow: 0 5px 10px #eee;
    max-height: 30rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    position: absolute;
    z-index: 1;
    margin: 0 1em 1em 0;
    min-height: 1em;
    margin-top: -2em;

    [role="option"],
    [role="group"] {
      padding: .1em .5em;

      &:first-child {
        padding-top: .2em;
      }

      &:last-child {
        padding-bottom: .2em;
      }

      cursor: pointer;

      &[aria-disabled="true"] {
        opacity: 0.5;
        cursor: not-allowed;
      }

      &:hover,
      &:active {
        background-color: $colour-active;
      }

      &[aria-selected="true"] {
        color: white;
        background-color: $colour-selected;
      }

      &:focus {
        outline: none;
      }
    }

    [role="group"] {
      font-weight: bold;
      cursor: not-allowed;
    }

    [role="group"] ~ [role="option"] {
      padding-left: 1.5em;
    }
  }

  mark {
   font-weight: bold;
   background-color: transparent;
  }
}
