@use './listbox.scss' as *;

.react-combo-boxes-listbox__table {
  border-collapse: collapse;
}

.react-combo-boxes-listbox__table-header {
  padding: .4em;
  text-align: left;
  background: #fff;
  height: 0;
}

.react-combo-boxes-listbox__table-row {
  @extend .react-combo-boxes-listbox__option;

  &:hover {
    @extend .react-combo-boxes-listbox__option, :hover;
  }
}

.react-combo-boxes-listbox__table-cell {
  padding: .4em;
}
