extends layout.pug

block variables
  - const title = 'Select'

block main
  h1
    code
      :escape
        <Select />

  section
    h2 Select with string options

    div(data-example='select/string_options')

    details
      summary Code
      pre
        code.language-js
          include:escape:fakeInclude select/string_options.jsx

  section
    h2 Select with blank options

    div(data-example='select/blank_option')

    details
      summary Code
      pre
        code.language-js
          include:escape:fakeInclude select/blank_option.jsx

  section
    h2 Select with object options

    div(data-example='select/object_options')

    details
      summary Code
      pre
        code.language-js
          include:escape:fakeInclude select/object_options.jsx

  section
    h2 Select with disabled option

    div(data-example='select/disabled_option')

    details
      summary Code
      pre
        code.language-js
          include:escape:fakeInclude select/disabled_option.jsx

  section
    h2 Select with groups

  section
    h2 Select with custom classes
