mixin link(href)
  if href.endsWith(`${example}/index.pug`)
    a
      block
  else
    a(href=href)
      block

nav
  div React combo boxes
  ul
    li
      div Select
      ul
        li
          +link('~/select/index.pug') About
        li
          +link('~/select/string_options/index.pug') String options
        li
          +link('~/select/object_options/index.pug') Object options
        li
          +link('~/select/blank_option/index.pug') Blank option
        li
          +link('~/select/disabled_option/index.pug') Disabled option
        li
          +link('~/select/grouped_options/index.pug') Grouped options
        li
          +link('~/select/mapped_options/index.pug') Mapped options
        li
          +link('~/select/html_options/index.pug') HTML options
    li
      div Drop down
      ul
        li
          +link('~/drop_down/index.pug') About
        li
          +link('~/drop_down/string_options/index.pug') String options
        li
          +link('~/drop_down/object_options/index.pug') Object options
        li
          +link('~/drop_down/blank_option/index.pug') Blank option
        li
          +link('~/drop_down/disabled_option/index.pug') Disabled option
        li
          +link('~/drop_down/disabled/index.pug') Disabled drop down
        li
          +link('~/drop_down/grouped_options/index.pug') Grouped options
        li
          +link('~/drop_down/html_options/index.pug') HTML options
        li
          +link('~/drop_down/mapped_options/index.pug') Mapped options
        li
          +link('~/drop_down/without_managed_focus/index.pug') Without managed focus
        li
          +link('~/drop_down/aria_1_2_groups/index.pug') With ARIA 1.2 groups
        li
          div Edge cases
          ul
            li
              +link('~/drop_down/identical_options/index.pug') Identical options
            li
              +link('~/drop_down/no_options/index.pug') No options
            li
              +link('~/drop_down/all_disabled_options/index.pug') All disabled options
    li
      div Combo box
      ul
        li
          a About
        li
          +link('~/combo_box/string_options/index.pug') String options
        li
          +link('~/combo_box/object_options/index.pug') Object options
        li
          +link('~/combo_box/disabled_option/index.pug') Disabled option
        li
          +link('~/combo_box/grouped_options/index.pug') Grouped options
        li
          +link('~/combo_box/html_options/index.pug') HTML options
        li
          +link('~/combo_box/without_autocomplete/index.pug') Without autocomplete
        li
          +link('~/combo_box/without_managed_focus/index.pug') Without managed focus
        li
          +link('~/combo_box/inline_autocomplete/index.pug') With inline autocomplete
        li
          +link('~/combo_box/background_autocomplete/index.pug') With background autocomplete
        li
          +link('~/combo_box/search_suggestions/index.pug') Search suggestions
        li
          +link('~/combo_box/aria_1_0/index.pug') ARIA 1.0
        li
          +link('~/combo_box/aria_1_1/index.pug') ARIA 1.1
        li
          +link('~/combo_box/aria_1_2_groups/index.pug') ARIA 1.2 groups
        li
          +link('~/combo_box/listbox_footer/index.pug') Listbox footer
        li
          +link('~/combo_box/identical_options/index.pug') Identical options
        li
          a async search
        li
          div Searches
          ul
            li
              a About
            li
              a Searches
        li
          div Highlighters
          ul
            li
              a About
            li
              a Highlighters
        li
          div Edge cases
          ul
            li
              +link('~/combo_box/identical_options/index.pug') Identical options
            li
              +link('~/combo_box/all_disabled_options/index.pug') All disabled options
    li
      div Table layout
      ul
        li
          a About
        li
          div Drop down
          ul
            li
              +link('~/list_box_table/drop_down/index.pug') Table
            li
              +link('~/list_box_table/drop_down_headers/index.pug') With headers
            li
              +link('~/list_box_table/drop_down_grouped/index.pug') Grouped
        li
          div Combo box
          ul
            li
              a Table
            li
              a With labelled headers
            li
              a Grouped
