@import "normalize.css";
@import "./dropdown.scss";
@import "./combobox.scss";
@import "prismjs/themes/prism.css";

body {
  font: 1em/1.5 sans-serif;
  padding-bottom: 10em;
  display: grid;
  grid: "nav main" / 20em;

  @media (max-width: 50em) {
    grid: "main" auto "nav" auto;
  }
}

main {
  grid-area: main;
  padding: 1em;
  min-width: 0;
  max-width: 60em;
}

nav {
  grid-area: nav;
  padding: 1em;
}

[data-react-example] {
  border: 1px solid #ddd;
  padding: 1em;
  margin-bottom: 1.5em;

  > label:not(:first-child),
  > .label:not(:first-child),
  > fieldset {
    margin-top: 1.5em;
  }
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

label,
.label {
  display: block;
  font-weight: bold;
}

fieldset {
  border: 1px solid #ddd;
  display: flex;

  label {
    margin-right: 1.5em;
  }
}

code,
output {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  background: rgba(27,31,35,.05);
  font-size: 85%;
  padding: .2em .4em;
}

pre > code {
  padding: 0;
}
