@import "../node_modules/normalize.css/normalize.css";
@import "./dropdown.scss";

body {
  font: 1em/1.5 sans-serif;
  padding-bottom: 10em;
}

main {
  margin: auto;
  width: 40em;
}

[data-react-example] {
  border: 1px solid #ddd;
  padding: 1em;
  margin-bottom: 1.5em;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

label,
.label {
  display: block;
  font-weight: bold;

  &:not(:first-child) {
    margin-top: 1.5em;
  }
}

code,
output {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  background: rgba(27,31,35,.05);
  font-size: 85%;
  padding: .2em .4em;
}
