extends ../layout.pug

block variables
  - const title = 'Select - basic'

block main
  h1 Example of using a select

  div(data-example='select/basic/BasicSelect')

  details
    summary code
    pre
      code.language-js
        include:escape basic.jsx

