extends ../layout.pug

block variables
  - const title = 'Select - basic'

block main
  h1 Basic select

  p A basic select.

  div(data-example='select/basic/BasicSelect')

  details
    summary Code
    pre
      code.language-js
        include:escape basic.jsx

