$background-color: #fff !default;
$background-color-selected: #004b88 !default;
$color-selected: #fff !default;
$background-color-active: #caeaff !default;
$color-active: #000 !default;
$border-color-focus: #fcbb69 !default;
$padding-x: 0.5em !default;
$padding-y: 0.1em !default;
